{{>header}}
<html>
	<body>
		<br></br>
				
				<br></br>
				
				<br></br>
				<br></br>				
				<div class= "oferta3" align="center">
					<H2><b>OFERTA 3 :</b> PIZZA + HAMBURGUESA</H2>	
					<H1>9 Euros</H1>
					<form action="/main/Ofertas/pedirOferta">
		 			<input type="hidden" name='id' value=3> 
 		 				<input type="hidden" name='comentario' value='OFERTA 3'> 
 					<input  type='image'src="https://ep00.epimg.net/elpais/imagenes/2014/10/30/buenavida/1414676181_595875_1414686736_noticia_normal.jpg" height="300" alt='submit'/> 
 					<input type="hidden" name="_csrf" value="{{token}}"/>
 			</form> </div>
		
	</body>
</html>