{{>header}}
<html>
<body>
		<br></br>
				
				<br></br>
				
				<br></br>
				<br></br>				
				<div class= "oferta1" align="center">
					<H2><b>OFERTA 2 :</b> PIZZA + BEBIDA</H2>	
					<H1> 7 Euros</H1>
					<br></br>	 				
	 				<form action="/pedidoActual">
		 				<input type="hidden" name='info' value="Pizza , Bebidas"/> 
		 				<input type="hidden" name='precio' value="7"/> 
 					<input  type='image'src="http://4.bp.blogspot.com/-Y67km425b3c/USWwz142s7I/AAAAAAAAaFU/icZNwLPJyQQ/s1600/promo1.jpg" height="300" alt='submit'/> 
 			</form> 
 			
 				</div>
		
	</body>
</html>