<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
		   	<style type="text/css">
		body {  
        background:url('http://luxfon.com/pic/201203/1920x1080/luxfon.com-1242.jpg') repeat 0 0;
 			}
		</style>
	
	<div class="carrito" align="center">
	<img role="presentation" src="https://pbs.twimg.com/media/DV2ypqPW0AMKN7u.png:large" height="200" alt= "">
				<br></br> 
				<p><h2>ACCESO A PARTE PRIVADA DE LA WEB:</h2></p>
				<br></br>
				<br></br>
				<form action="/login" method="post">
				<label>USUARIO:</label><input type="text" name="username" /><br />
				<label>CONTRASEÑA:</label><input type="password" name="password" /><br />
				<input type="submit" value="Entrar" /><br />
				<br></br>
				<input type="hidden" name="_csrf" value="{{token}}"/>	
				
				</form>
	</div>
		<div class="carrito" align="center">
			<br></br>
			<p>Si no estás inscrito, <h2>REGÍSTRATE</h2></p>
			<br></br>
			<form action="/registroCliente" method="post">
				<label>USUARIO:</label><input type="text" name="name" required/><br />
				<label>EMAIL:</label><input type="email" name="email" required/><br />
				<label>CONTRASEÑA:</label><input type="password" name="password" required/><br />
				<input type="submit" value="Entrar" /><br />
				<br></br>
				<input type="hidden" name="_csrf" value="{{token}}"/>	
				
				</form>
				</div>
			

</body>
</html>