{{>header}}
<html>
<body>
	
 		
<br></br>

<div class="carrito" align="center">
<br></br>

<a><H2>ESTE ES SU PEDIDO ACTUAL: </H2> </a>
<br></br>
<a> Ha pedido:.....................................................</a>{{#pedidos}}<a>
																			{{comentario}} : </a>
																		{{/pedidos}}
<br></br> 
																	 
<a> El precio a abonar son:........................................</a>{{#pedidos}}
																		<a>{{precio}} : </a>
																		{{/pedidos}} 
																	
<br></br>
<a>																		Le atendio <a> Administradores.id=1</a></a>
 		





		<form action="/main/Pedido/comprarPedido">
  				
						
						<input  type='submit' value='Comprar'/>
						</form>
						</div>

</body>
</html>